<div class="modal-header">
    <div class="row">
        <div class="col-md-10">
            <h3><span>Student Details</span></h3>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-info pull-right" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div class="modal-body">
    <view-student student="vm.student"></view-student>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.delete()">Delete</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>