﻿<div class="panel panel-body">
    <div class="row top-margin-15">
        <div class="col-md-2">
            <button class="btn btn-success" ng-click="$ctrl.addStudent()">
                <i class="glyphicon glyphicon-edit"></i> Add
            </button>
        </div>
    </div>

    <div class="row top-margin-15">
        <div class="col-md-12">
            <div ui-grid="$ctrl.studentsGrid" ui-grid-selection ui-grid-pagination class="full-width"></div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="edit-student-template">
    <button class="btn btn-success center-block" ng-click="grid.appScope.editStudent(row.entity)">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
</script>
<script type="text/ng-template" id="delete-student-template">
    <button class="btn btn-danger center-block" ng-click="grid.appScope.removeStudent(row.entity)">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</script>